body {
  font-family: Poppins, sans-serif;
  background: linear-gradient(135deg, #ffd6e8, #fff0f6);
  text-align: center;
  padding: 20px;
}

h1 {
  color: #d63384;
}

.filter-buttons button {
  background: #ff85b3;
  border: none;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.filter-buttons button:hover {
  background: #d63384;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.4s;
}

.gallery img:hover {
  transform: scale(1.08);
  box-shadow: 0 15px 30px rgba(214, 51, 132, 0.4);
}

#lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(255, 182, 193, 0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#lightbox img {
  max-width: 80%;
  border-radius: 20px;
}

.close {
  font-size: 35px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.nav button {
  background: #ff85b3;
  border: none;
  padding: 12px;
  border-radius: 50%;
}
